/*==============================================
| Framework of Oz Stylesheet
=================================================*/
.box-sizing, .oz-metabox input, .oz-metabox button, .oz-field-wrap, .oz-label, .oz-file + div, .oz-preview, .oz-repeaters button, .oz-group-handle, .oz-group-panel, .oz-group-repeat-wrap button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.oz-metabox input, .oz-metabox button {
  margin-left: 0;
  margin-right: 0; }

.oz-field-wrap {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  margin-bottom: 8px; }
  .oz-field-wrap input {
    width: 100%; }
  .oz-field-wrap.stacked {
    width: 100%; }

.oz-label {
  display: inline-block;
  width: 25%;
  vertical-align: top; }
  .oz-label.stacked {
    width: 100%; }

.oz-description {
  opacity: 0.6; }

input.oz-file {
  width: 75%; }

.oz-file + div {
  width: 25%;
  margin: 0;
  display: inline-block;
  padding-left: 10px; }
  .oz-file + div button {
    width: 100%; }

.oz-preview {
  border: 2px dashed #eeeeee;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  display: none; }
  .oz-preview img {
    max-width: 100%;
    max-height: 200px;
    height: auto; }

input.ed_button {
  width: auto;
  margin: 0 1px; }

label[for="save-menupage-save"] {
  display: none; }
  label[for="save-menupage-save"] + .oz-field-wrap {
    width: 100%;
    margin-top: 10px; }

.oz-submit {
  width: 100% !important; }

.oz-repeat .oz-field {
  width: 75% !important; }
  .oz-repeat .oz-field.width-three-quarters {
    width: 50% !important; }

.oz-repeaters {
  text-align: right;
  display: inline-block;
  width: 25%; }
  .oz-repeaters button {
    width: 32px;
    margin-left: 10px !important; }
    .oz-repeaters button.oz-repeater-add {
      margin-left: 0 !important; }

.oz-group-wrap {
  margin-bottom: 10px; }

.oz-group-handle {
  padding: 10px 10px;
  position: relative;
  border: 1px solid #eeeeee;
  background: #f9f9f9;
  font-weight: bold;
  cursor: move; }

.oz-group-panel {
  position: relative;
  padding: 5px 10px;
  padding-top: 10px;
  border: 1px solid #eeeeee;
  border-top: none;
  background: white; }
  .oz-group-panel.closed {
    display: none; }

.oz-group-repeat-wrap {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 10px; }
  .oz-group-repeat-wrap button {
    width: 32px;
    margin-left: 10px !important; }

.oz-group-placeholder {
  background: #fafafa;
  border: 1px dashed #cccccc; }
